#market{
    padding:80px;
}
#market h3{
    margin-bottom: 40px;
}

.btn{
    margin-top: 40px;
    background: #f05f5c;
    color: white;
    padding: 9px 26px;
    border-radius: 10px;
}

table {
    width: 100%;
    border:1px solid #c9c9c9;
  }
th{
    border:1px solid #c9c9c9;
    background-color: #f05f5c;
    color: white;
    height: 50px;
    padding:15px;
}
td{
    border:1px solid #c9c9c9;
    padding:15px;
}
tr:nth-child(odd) {background-color: #f2f2f2;}

#table_detail .hidden_row {
    display: none;
}